@use '../../shared/components.scss' as components;

@mixin default { > ui-player {
	display: flex;
	gap: 1rem;

	align-items: center;

	position: relative;

	&[ui-can-open-menu]:hover {
		cursor: pointer;

		> ui-name {
			color: var(--color-primary-dimmed);
		}
	}

	> ui-avatar {
		position: relative;

		display: block;
		height: 5rem;
		width: 5rem;

		border-radius: 50%;

		> svg {
			position: absolute;
			top: -5%;
			right: 0;

			display: block;
			transform: scale(1.2) rotate(35deg);
			fill: var(--color-primary);
		}

		> img {
			display: block;
			height: 100%;
			border-radius: 50%;
		}
	}

	> ui-name {
		display: block;
		flex: 1;

		color: var(--color-primary);

		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	> ui-menu {
		display: flex;
		gap: 0.5rem;

		position: absolute;
		inset: 0;
		align-items: center;
		justify-content: end;

		backdrop-filter: blur(1px);

		> ui-action {
			@include components.action;

			padding: 0.5rem;

			&[ui-secondary],
			&:not([ui-secondary]):hover {
				background: var(--color-background-dimmed);
			}
		}
	}

	@content;
}}
