:root {
	--lobby-width: min(calc(100vw - 2rem), 30rem);
	--lobby-height: min(calc(100svh - 8rem), 50rem);
}

ui-game {
	display: block;

	> ui-lobby {
		position: fixed;
		inset-inline: calc((100vw - var(--lobby-width)) / 2);
		inset-block: calc((100vh - var(--lobby-height)) / 2);
		z-index: 1;

		width: var(--lobby-width);
		height: var(--lobby-height);

		display: flex;
		flex-direction: column;

		background: var(--page-background);
		border: 2px solid var(--primary-contrast-color);
		box-shadow: 0 1rem 5rem #0002;

		> ui-invite {
			flex-shrink: 0;

			display: flex;
			flex-direction: column;
			align-items: center;

			padding: 1rem;

			color: var(--page-color);
			background: var(--primary-color);
			border-bottom: var(--page-border);

			> ui-token {
				display: block;

				text-transform: uppercase;
				font-size: 1rem;
				font-weight: bold;
			}

			> img {
				width: 10rem;
				padding: 1rem;
				margin-bottom: 1rem;
				aspect-ratio: 1;

				image-rendering: pixelated;
				background: #fff;
			}
		}

		> ui-players {
			flex-grow: 1;

			display: block;
			overflow-x: hidden;
			overflow-y: auto;

			border-bottom: var(--page-border);

			> ui-player {
				display: flex;
				padding: 1rem;

				align-items: center;
				line-height: 1;

				border-bottom: var(--page-border);

				&::before {
					content: '';

					width: 1rem;
					height: 1rem;
					margin-right: 0.5rem;

					border-radius: 50%;
					background: var(--color);
				}

				&[ui-self] {
					font-weight: bold;
				}

				> ui-name {
					flex: 1;

					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}

				> ui-host {
					color: var(--page-color-dimmed);
				}
			}
		}

		> ui-action {
			flex-shrink: 0;
			margin-inline: 1rem;
			margin-top: 1rem;

			&:last-child {
				margin-bottom: 1rem;
			}

			&[ui-start] {
				@include primary-action;
			}

			&[ui-info] {
				@include disabled-action;
			}

			&[ui-leave] {
				@include action;
			}
		}
	}

	> ui-board {
		display: block;
		max-width: 30rem;
		padding: 1rem;

		> ui-competitor {
			display: block;

			&:not(:last-of-type) {
				margin-bottom: 10rem;
			}

			> ui-cards {
				display: flex;
				height: 10rem;

				align-items: center;
				gap: 0.5rem;

				> ui-card {
					display: block;
					width: 1rem;
					height: 1rem;
					padding-block: 2rem;
					padding-inline: 1.3rem;
					
					background: var(--primary-color);
					color: var(--primary-contrast-color);

					text-align: center;
				}
			}
		}
	}
}
