@use '../../../shared/components.scss' as components;
@use '../../menu/index.scss' as menu;
@use '../../player/index.scss' as player;

@mixin default { > ui-game {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;

	> ui-header {
		display: flex;
		justify-content: space-between;

		> ui-round {
			display: block;
			padding: 1rem;

			> ui-label {
				display: block;

				color: var(--color-primary-dimmed);
			}

			> ui-value {
				display: block;

				color: var(--color-primary);
			}
		}

		@include menu.default;
	}

	> ui-main {
		display: flex;
		flex-direction: column;
		flex: 1;
		padding: 2rem;
		gap: 1rem;

		> ui-competitor {
			display: flex;
			flex: 1;
			gap: 1rem;

			&:nth-of-type(2) {
				> ui-information {
					flex-direction: column-reverse;
				}

				> ui-board {
					flex-direction: column-reverse;
				}
			}

			> ui-information {
				display: flex;
				flex-direction: column;
				gap: 1rem;
				width: 20%;

				@include player.default;

				> ui-hearts {
					display: flex;
					flex-wrap: wrap;

					fill: var(--color-primary);
				}

				> ui-bet {
					position: relative;

					display: block;
					margin-right: auto;
					padding: 1rem;

					border-radius: 0.25rem;
					border: 1px solid var(--color-primary);
					background: var(--color-background-dimmed);
					color: var(--color-primary);

					font-family: monospace;
					font-size: 1.5rem;

					&::before {
						content: 'Bet';

						position: absolute;
						top: -0.5rem;
						left: 50%;
						transform: translateX(-50%);

						padding-inline: 0.5rem;

						border-radius: 0.25rem;
						background: var(--color-primary);
						color: var(--color-background-dimmed);

						font-size: 1rem;
					}
				}
			}

			> ui-board {
				display: flex;
				flex-direction: column;
				flex: 1;
				gap: 1rem;

				> ui-sum {
					display: block;
					margin-right: auto;
					padding: 0.5rem;

					border: 1px solid var(--color-primary);
					border-radius: 2rem;
					color: var(--color-primary);
					background: var(--color-background-dimmed);
				}

				> ui-cards {
					display: flex;
					gap: 1rem;

					> ui-card {
						display: block;
						max-height: 90%;
						max-width: 10%;

						aspect-ratio: 1 / 1.4;

						border: 5px solid var(--color-primary);
						border-radius: 0.5rem;
						overflow: hidden;
						background: var(--color-card);

						> img {
							display: block;
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
				}
			}
		}

		> ui-actions {
			display: flex;
			justify-content: center;
			gap: 1rem;

			opacity: 0.5;
			pointer-events: none;

			&[ui-active] {
				opacity: 1;
				pointer-events: all;
			}

			> ui-action {
				@include components.action;
			}
		}
	}
}}
