@use '../shared/components.scss' as components;
@use '../shared/configure-player/index.scss' as configure-player;
@use './player/index.scss' as player;
@use './states/lobby/index.scss' as lobby;

@mixin default { > ui-game {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;

	> ui-join-error {
		@include components.dialog;
	}

	> ui-connection-lost {
		@include components.dialog;
	}

	> ui-direct-join {
		display: block;
		padding: 2rem;

		border-radius: 2rem;
		background: var(--color-background-dimmed);

		box-shadow: var(--box-shadow);

		@include configure-player.default;

		> ui-action {
			@include components.action;

			margin-top: 2rem;
		}
	}

	@include lobby.default;
}}
