> ui-home {
	display: flex;
	justify-content: center;
	align-items: center;

	> ui-introduction {
		display: flex;
		max-height: 80%;
		max-width: 50rem;
		padding: 2rem;

		flex: 1;
		flex-direction: column;
		gap: 2rem;

		border-radius: 2rem;
		background: var(--color-background-dimmed);

		overflow-y: auto;

		> ui-player-configuration {
			display: flex;
			flex-direction: column;
			gap: 2rem;
			flex: 1;

			> input {
				font-size: 1.1rem;
			}

			> ui-character {
				display: flex;
				align-items: center;
				gap: 2rem;
				margin-inline: auto;

				> ui-action {
					display: block;
					padding: 1rem;

					color: var(--color-primary-dimmed);

					font-size: 2rem;
					font-weight: bold;

					cursor: pointer;
					user-select: none;

					&:hover {
						color: var(--color-primary);
					}
				}

				> ui-avatar {
					display: block;
					height: 15rem;
					aspect-ratio: 1;

					border-radius: 50%;

					overflow: hidden;
				}
			}
		}

		> ui-game {
			display: flex;
			padding: 2rem;

			gap: 2rem;
			flex-direction: column;
			flex: 1;

			border-radius: 2rem;
			background: var(--color-background);

			&[ui-disabled] {
				> * {
					pointer-events: none;
				}

				user-select: none;

				opacity: 0.5;
				cursor: not-allowed;
			}

			> ui-join {
				display: flex;

				> input {
					text-transform: uppercase;
					letter-spacing: 0.5rem;

					border-top-right-radius: 0;
					border-bottom-right-radius: 0;

					&[ui-invalid] {
						border-color: var(--color-error);

						animation: 0.3s shake;
					}
				}

				> ui-action {
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;

					border-left-width: 0;
				}
			}

			ui-action {
				@include primaryAction;
			}
		}
	}
}