@use '../shared/components.scss' as components;
@use '../shared/configure-player/index.scss' as configure-player;

@mixin default { > ui-home {
	display: flex;
	justify-content: center;
	align-items: center;

	> ui-introduction {
		display: flex;
		max-height: 80%;
		max-width: 50rem;
		padding: 2rem;

		flex: 1;
		flex-direction: column;
		gap: 2rem;

		border-radius: 2rem;
		background: var(--color-background-dimmed);

		box-shadow: var(--box-shadow);

		overflow-y: auto;

		> ui-configure-player {
			@include configure-player.default;
		}

		> ui-game {
			display: flex;
			padding: 2rem;

			gap: 2rem;
			flex-direction: column;
			flex: 1;

			border-radius: 2rem;
			background: var(--color-background);

			&[ui-disabled] {
				user-select: none;

				opacity: 0.5;
				cursor: not-allowed;

				> * {
					pointer-events: none;
				}
			}

			> ui-join {
				display: grid;
				grid-template-columns: 1fr auto;
				row-gap: 0.5rem;

				> input {
					text-transform: uppercase;
					letter-spacing: 0.5rem;

					border-top-right-radius: 0;
					border-bottom-right-radius: 0;

					&[ui-invalid] {
						border-color: var(--color-error);

						animation: 0.3s shake;
					}
				}

				> ui-action {
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;

					border-left-width: 0;
				}

				> ui-join-error {
					display: block;
					padding-inline: 1rem;

					font-size: 0.8rem;
					color: var(--color-error);
				}
			}

			ui-action {
				@include components.action;
			}
		}
	}
}}
