> ui-home {
	display: flex;
	justify-content: center;
	align-items: center;

	> ui-introduction {
		display: flex;
		max-height: 80%;
		max-width: 50rem;
		padding: 2rem;

		flex: 1;
		flex-direction: column;
		gap: 2rem;

		border-radius: 2rem;
		background: var(--color-background-dimmed);

		box-shadow: var(--box-shadow);

		overflow-y: auto;

		@import '../shared/configure-player/index.scss';

		> ui-game {
			display: flex;
			padding: 2rem;

			gap: 2rem;
			flex-direction: column;
			flex: 1;

			border-radius: 2rem;
			background: var(--color-background);

			&[ui-disabled] {
				> * {
					pointer-events: none;
				}

				user-select: none;

				opacity: 0.5;
				cursor: not-allowed;
			}

			> ui-join {
				display: flex;

				> input {
					text-transform: uppercase;
					letter-spacing: 0.5rem;

					border-top-right-radius: 0;
					border-bottom-right-radius: 0;

					&[ui-invalid] {
						border-color: var(--color-error);

						animation: 0.3s shake;
					}
				}

				> ui-action {
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;

					border-left-width: 0;
				}
			}

			ui-action {
				@include action;
			}
		}
	}
}
