:root {
	--color-primary: #DBC5A7;
	--color-primary-dimmed: #928579;

	--color-background: #323649;
	--color-background-dimmed: #20222d;

	--color-error: #ff3737;
	--color-system: #6b6b6b;

	--box-shadow-y: 0 0.05rem 1rem #242424;
	--box-shadow: 0.05rem 0.05rem 1rem #242424;

	background: var(--color-background);
}

* {
	font-family: Arial, Helvetica, sans-serif;
}

input {
	display: block;
	width: calc(100% - 3rem - 2px);
	padding-block: 1rem;
	padding-inline: 1.5rem;

	color: var(--color-primary);
	background: var(--color-background-dimmed);

	border: 1px solid var(--color-primary);
	border-radius: 2rem;
	outline: none;
}

img {
	display: block;
	width: 100%;
}

@keyframes shake {
	0% {
		transform: translate(0rem, 0rem)
	}

	25% {
		transform: translate(0.25rem, 0rem)
	}

	50% {
		transform: translate(-0.25rem, 0rem)
	}

	75% {
		transform: translate(0.25rem, 0rem)
	}
}

@mixin action {
	display: block;
	padding: 1rem;

	border-radius: 2rem;

	border: 1px solid var(--color-primary);

	text-transform: uppercase;
	text-align: center;

	cursor: pointer;

	&[ui-disabled] {
		opacity: 0.5;

		pointer-events: none;
		cursor: not-allowed;
	}

	&:not([ui-secondary]) {
		color: var(--color-background);
		background: var(--color-primary);
	
		&:hover {
			color: var(--color-primary);
			background: none;
		}
	}

	&[ui-secondary] {
		color: var(--color-primary);
	
		&:hover {
			color: var(--color-primary-dimmed);
		}
	}
}

@mixin dialog {
	display: block;
	width: 80%;
	max-width: 30rem;
	padding: 2rem;

	border-radius: 2rem;
	background: var(--color-background-dimmed);

	box-shadow: var(--box-shadow);

	> ui-title {
		display: block;
		margin-bottom: 1rem;

		color: var(--color-primary);
		font-size: 1.5rem;
	}

	> ui-description {
		display: block;
		min-height: 5rem;
		margin-bottom: 2rem;

		color: var(--color-primary-dimmed);
	}

	> ui-action-group {
		display: flex;
		gap: 1rem;

		> ui-action {
			@include action;

			flex: 1;
		}
	}
}

body {
	margin: 0;

	> ui-page {
		display: flex;
		height: 100vh;
		flex-direction: column;

		> ui-navigation {
			display: flex;
			padding-block: 1rem;
			padding-inline: 2rem;

			position: sticky;
			top: 0;

			justify-content: space-between;
			align-items: center;

			background: var(--color-background-dimmed);
			color: var(--color-primary);

			box-shadow: var(--box-shadow-y);

			> ui-page-links {
				display: flex;
				gap: 1rem;

				> ui-page-link {
					display: block;
					padding-block: 1rem;
					padding-inline: 1.5rem;

					border-radius: 2rem;

					cursor: pointer;

					&[ui-active],
					&:hover {
						background: var(--color-background);
					}
				}
			}
		}

		> *:not(ui-navigation) {
			display: block;
			flex: 1;
		}

		@import './home/index.scss';
		@import './guide/index.scss';

		@import './play/index.scss';
	}
}
