@import './animations.scss';

@import './home/index.scss';
@import './game/index.scss';

:root {
	--color-primary: #6B2E27;
	--color-primary-dimmed: #2D1211;
	--color-primary-detail: #BE3627;

	--color-text: #DBC5A7;
	--color-text-dimmed: #928579;

	--color-background: #3A3D5D;
	--color-background-dimmed: #161A21;

	--page-border: 1px solid var(--color-text);
	--page-border-dimmed: 1px solid var(--color-text-dimmed);
}

body {
	margin: 0;
	padding: 0;

	font-family: Arial, Helvetica, sans-serif;

	color: var(--color-text);
	background: var(--color-background);
}

ui-page {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

ui-navigation {
	display: block;
	padding: 1rem;

	background: var(--color-background-dimmed);
	border-bottom: var(--page-border);

	> ui-brand {
		display: block;
		cursor: pointer;
	}
}

@mixin action {
	display: block;
	text-align: center;

	&:not([ui-disabled]) {
		cursor: pointer;
	}
}

ui-action {
	@include action;

	padding: 1rem 1.5rem;
	background-color: var(--color-primary);

	&:hover:not([ui-disabled]) {
		filter: brightness(1.2);
	}
}

ui-secondary-action {
	@include action;

	padding: 0.5rem 1.5rem;
	color: var(--color-primary);
	border: 1px solid var(--color-primary);

	&:hover:not([ui-disabled]) {
		color: var(--color-text);
		background-color: var(--color-primary);
	}
}

input {
	all: initial;
	padding: 1em;

	border: var(--page-border);
	color: var(--color-text);
	background: var(--color-background);

	font-family: inherit;
}
